
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto:ital,wght@0,300;0,400;0,500;1,300&family=Sofia+Sans+Semi+Condensed:wght@500&family=Ubuntu:ital,wght@0,400;0,500;1,300;1,400&family=Yellowtail&display=swap');
 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header {
    display: flex;
    flex-direction: column;  
    margin: auto;
    width: 97%;
    justify-content: center;
  border: 2px solid rgb(56, 56, 56);
  height: 150px;
  margin-top: 10px;
  position:sticky;
  z-index: 999;
  }
  header .dropdown {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      height: 50px;
      gap: 5px;
  align-items: center;
  }
  header .aho {
      color: black;
      background-color: white;
      border: 0;
  } 
  header .sal {
      background-color: black;
      color: white;
      padding: 10px 15px;
  }
  header .btn-secondary{
      font-size: .9em;
      width: 100px;
      background-color: white;
      color: black;
      border: 0;
  }
  header .nam {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
  }
  header .aha {
      width: 200px;
  }
  header h1 {
  font-size: 2em;
  font-family: 'Great Vibes';
  text-align: center;
  
  
      font-weight: 600;
   color: rgb(71, 71, 71);
  }
  header .mar {
      margin-right: 10px;
  }
  
  header span {
      font-family: 'Times New Roman', Times, serif;
  }
  
  
  #asd:hover {
      color: red;
      border-top: 1px solid red ;
      padding: 0;
  }
.scrol-img img {
    object-fit: cover;
    width: 100%;
}
.one {
    height: 400px;
 
    width: 100%;
    


}
.imgess {
    width: 90%;
height: 80%;
overflow: hidden;
    margin: auto;

}

.tex h1 {
width: 200px;
height: 1/.5;
background-color: white;
color: black;
font-family: 'Great Vibes';
position: relative;
z-index: 999;
margin-bottom: 5em;
text-align: center;
letter-spacing: 3px;
}

.write {
    border: .5px solid rgb(75, 75, 75);
    width: 250px;

    margin-bottom: 10em;
    align-items: center;
 text-align: center;
position: absolute;
bottom: 0;
left: 75px;

 background-color: white;
 border: none;
 
}
.write h2 {
    margin-top: .6em;
    font-family: 'Great Vibes';
    font-size: 2.7em;
position:-ms-page;    
}


.sign {
    height: 600px;
    margin-top: 5em;
    margin-bottom: 3em;
}
.sign h2 {
    font-size: 3em;
}
.sign h4 {
    font-size: 1.5em;
    font-family: 'Times New Roman', Times, serif;
}
form {
    margin: auto;
    width: 60%;
}
form #one {
    width: 100%;
    height: 58px;
    margin-bottom: 1em;
    font-family: 'Times New Roman', Times, serif;
}
form #two {
    width: 100%;
    height: 58px;
    margin-bottom: 1em;
    font-family: 'Times New Roman', Times, serif;
}
form #three {
    width: 100%;
    height: 58px;
    margin-bottom: 1em;
    font-family: 'Times New Roman', Times, serif;
}
.sign .ptn {
    padding: 10px 15px;
    border: 0;
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    
}


.footer {
    display: flex;
    flex-direction: row;
  justify-content: center;
    align-items: center;
    gap: 25px;
}
.footer a {
    text-decoration: none;
   font-size: .9em;
   font-family: 'Times New Roman', Times, serif;
   color: black;
}
.footer a:hover {
  color: red;  
}
.footer button {
    border: 0;
    padding: 5px 20px;
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    transition: 1.2s ease;
    -webkit-transition: 1.2s ease;
    -moz-transition: 1.2s ease;
    -ms-transition: 1.2s ease;
    -o-transition: 1.2s ease;
}

.footer .bbtt:hover {
    background-color: red;
}
.six button:hover {
    background-color: red;
}
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 45px;
    align-items: center;
    font-size: .6em;
    font-family: 'Times New Roman', Times, serif;
}
.llin {
    margin-right: 7px;
    
}
.llin a{
    margin-right: 10px;
    letter-spacing: 1px;
    text-decoration: none;
    color: black;
    transition: 1.1s ease;
    -webkit-transition: 1.1s ease;
    -moz-transition: 1.1s ease;
    -ms-transition: 1.1s ease;
    -o-transition: 1.1s ease;
}
.llin a:hover {
    color: red;
}
.by a {
    margin-left: 15px;
    transition: 1.1s ease;
    -webkit-transition: 1.1s ease;
    -moz-transition: 1.1s ease;
    -ms-transition: 1.1s ease;
    -o-transition: 1.1s ease;
    text-decoration: none;
    color: black;
}
.by a:hover {
    color: red;
} 

/* ============================================================
==================================================================
=======================================================================
=========================================================================== */

@media (max-width:320px) {
    header {
        display: flex;
        flex-direction: column;  

     
        justify-content: center;
  
      height: 250px;
      margin-top: 10px;
      margin-bottom: 5em;
      border-bottom:0 ;
    
      }



      header .dropdown {
          display: flex;
          flex-direction: column;

          justify-content: center;
          height: 150px;
          gap: 10px;
      align-items: center;
     
  
      }
 

.essam {
  display: none;
}

 .footer {
    display: flex;
    flex-direction: column;
  justify-content: center;
    align-items: center;
    gap: 5px;
    height: 200px;
    visibility: hidden;
  
}

.footer a {
    text-decoration: none;
   font-size: .9em;
   font-family: 'Times New Roman', Times, serif;
   color: black;
   
}
.footer a:hover {
  color: red;  
}
.footer button {
    border: 0;
    padding: 5px 20px;
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    transition: 1.2s ease;
    -webkit-transition: 1.2s ease;
    -moz-transition: 1.2s ease;
    -ms-transition: 1.2s ease;
    -o-transition: 1.2s ease;
   
}

.footer .bbtt:hover {
    background-color: red;
}
.six button:hover {
    background-color: red;
}
footer {
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 45px;
    align-items: center;
    font-size: .6em;
    font-family: 'Times New Roman', Times, serif;
 
}
.llin {
    margin-right: 7px;
    
}
.llin a{
    margin-right: 10px;
    letter-spacing: 1px;
    text-decoration: none;
    color: black;
    transition: 1.1s ease;
    -webkit-transition: 1.1s ease;
    -moz-transition: 1.1s ease;
    -ms-transition: 1.1s ease;
    -o-transition: 1.1s ease;
}

.by a {
    margin-left: 15px;
 
}
}
@media (min-width:320px) and (max-width:400px){
    header {
        display: flex;
        flex-direction: column;  

     
        justify-content: center;
  
      height: 250px;
      margin-top: 10px;
      margin-bottom: 5em;
      border-bottom:0 ;
    
      }



      header .dropdown {
          display: flex;
          flex-direction: column;

          justify-content: center;
          height: 150px;
          gap: 10px;
      align-items: center;
     
  
      }
 

.essam {
  display: none;
}


 .footer {
    display: flex;
    flex-direction: column;
  justify-content: center;
    align-items: center;
    gap: 5px;
    height: 200px;
    visibility: hidden;
  
}

.footer a {
    text-decoration: none;
   font-size: .9em;
   font-family: 'Times New Roman', Times, serif;
   color: black;
   
}
.footer a:hover {
  color: red;  
}
.footer button {
    border: 0;
    padding: 5px 20px;
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    transition: 1.2s ease;
    -webkit-transition: 1.2s ease;
    -moz-transition: 1.2s ease;
    -ms-transition: 1.2s ease;
    -o-transition: 1.2s ease;
   
}

.footer .bbtt:hover {
    background-color: red;
}

footer {
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 45px;
    align-items: center;
    font-size: .6em;
    font-family: 'Times New Roman', Times, serif;
 
}
.llin {
    margin-right: 7px;
    
}
.llin a{
    margin-right: 10px;
    letter-spacing: 1px;
    text-decoration: none;
    color: black;
    transition: 1.1s ease;
    -webkit-transition: 1.1s ease;
    -moz-transition: 1.1s ease;
    -ms-transition: 1.1s ease;
    -o-transition: 1.1s ease;
}

.by a {
    margin-left: 15px;
    transition: 1.1s ease;
    -webkit-transition: 1.1s ease;
    -moz-transition: 1.1s ease;
    -ms-transition: 1.1s ease;
    -o-transition: 1.1s ease;
    text-decoration: none;
    color: black;
}
}
@media (min-width:400px)and (max-width:435px) {
    header {
        display: flex;
        flex-direction: column;  

     
        justify-content: center;
  
      height: 250px;
      margin-top: 10px;
      margin-bottom: 5em;
      border-bottom:0 ;
    
      }



      header .dropdown {
          display: flex;
          flex-direction: column;

          justify-content: center;
          height: 150px;
          gap: 10px;
      align-items: center;
     
  
      }
 

.essam {
  display: none;
}


 .footer {
    display: flex;
    flex-direction: column;
  justify-content: center;
    align-items: center;
    gap: 5px;
    height: 200px;
    visibility: hidden;
  
}

.footer a {
    text-decoration: none;
   font-size: .9em;
   font-family: 'Times New Roman', Times, serif;
   color: black;
   
}
.footer a:hover {
  color: red;  
}
.footer button {
    border: 0;
    padding: 5px 20px;
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    transition: 1.2s ease;
    -webkit-transition: 1.2s ease;
    -moz-transition: 1.2s ease;
    -ms-transition: 1.2s ease;
    -o-transition: 1.2s ease;
   
}

.footer .bbtt:hover {
    background-color: red;
}
.six button:hover {
    background-color: red;
}
footer {
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 45px;
    align-items: center;
    font-size: .6em;
    font-family: 'Times New Roman', Times, serif;
 
}
.llin {
    margin-right: 7px;
    
}
.llin a{
    margin-right: 10px;
    letter-spacing: 1px;
    text-decoration: none;
    color: black;
    transition: 1.1s ease;
    -webkit-transition: 1.1s ease;
    -moz-transition: 1.1s ease;
    -ms-transition: 1.1s ease;
    -o-transition: 1.1s ease;
}
.llin a:hover {
    color: red;
}
.by a {
    margin-left: 15px;
    transition: 1.1s ease;
    -webkit-transition: 1.1s ease;
    -moz-transition: 1.1s ease;
    -ms-transition: 1.1s ease;
    -o-transition: 1.1s ease;
    text-decoration: none;
    color: black;
}
}